sros/srxml/schemas/base_srxml_schema.xml

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="https://srx.sros/schema/v1"
           xmlns="https://srx.sros/schema/v1"
           elementFormDefault="qualified">

    <xs:element name="srx_root" abstract="true">
        <xs:complexType>
            <xs:attribute name="id" type="xs:string" use="required"/>
            <xs:attribute name="version" type="xs:string" use="required"/>
            <xs:attribute name="tenant" type="xs:string" use="required"/>
            <xs:attribute name="runtime" type="xs:string" use="optional"/>
        </xs:complexType>
    </xs:element>

</xs:schema>
